@model Recipes

<h2>Create a New Recipe</h2>

@using (Html.BeginForm("InsertRecipesToDatabase", "Recipes", "Post"))
{
    <input asp-for="ID" type="hidden" value="" />

    <label asp-for="Mfg" class="control-label">Mfg</label>
    <input type="text" name="Mfg" class="form-control" value="@Model.Mfg" />

    <label asp-for="Caliber" class="control-label">Caliber</label>
    <input type="text" name="Caliber" class="form-control" value="@Model.Caliber" />

    <label asp-for="Primer" class="control-label">Primer</label>
    <input type="text" name="Primer" class="form-control" value="@Model.Primer" />

    <label asp-for="BarrelLength" class="control-label">Tested Barrel Length</label>
    <input type="text" name="BarrelLength" class="form-control" value="@Model.BarrelLength" />

    <label asp-for="TwistRate" class="control-label">Recommended Twist Rate</label>
    <input type="text" name="TwistRate" class="form-control" value="@Model.TwistRate" />

    <label asp-for="COAL" class="control-label">COAL</label>
    <input type="text" name="COAL" class="form-control" value="@Model.COAL" />

    <label asp-for="BulletType" class="control-label">Bullet Type</label>
    <input type="text" name="BulletType" class="form-control" value="@Model.BulletType" />

    <label asp-for="BulletWeight" class="control-label">Weight (gr)</label>
    <input type="number" step="1" name="BulletWeight" class="form-control" value="@Model.BulletWeight" />

    <label asp-for="BC" class="control-label">Ballistic Coefficient (BC)</label>
    <input type="number" step="0.001" name="BC" class="form-control" value="@Model.BC" />

    <label asp-for="Powder" class="control-label">Powder</label>
    <input type="text" name="Powder" class="form-control" value="@Model.Powder" />

    <label asp-for="MinCharge" class="control-label">MIN Charge (gr)</label>
    <input type="number" step="0.1" name="MinCharge" class="form-control" value="@Model.MinCharge" />

    <label asp-for="MaxCharge" class="control-label">MAX Charge (gr)</label>
    <input type="number" step="0.1" name="MaxCharge" class="form-control" value="@Model.MaxCharge" />

    <label asp-for="VelocityAtMax" class="control-label">Velocity at MAX Charge (fps)</label>
    <input type="number" step="1" name="VelocityAtMax" class="form-control" value="@Model.VelocityAtMax" />
    <br />
    <label asp-for="Copper" class="control-label">Copper (Check if Non-Lead Load)</label>
    <input type="checkbox" name="Copper" checked="@Model.Copper" value="True" />
    <br />
    <label asp-for="MyLoad" class="control-label">My Load (Check if you want to add to your custom list)</label>
    <input type="checkbox" name="MyLoad" checked="@Model.MyLoad" value="True" />
    <br />

    @*<div class="form-group">
        <label for="">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CategoryID">@cat.CategoryID @cat.Name</option>
            }
        </select>
    </div>*@

    <br />
    <input type="submit" value="Create New Recipe" class="btn btn-primary" />
}
